

#a1
{
    
    float: right;
    margin-right: 50px;
   
}
#center1
{
    background-color: oldlace;
max-width: fit-content;
margin-left: 50px;
  
}
body{
    background: rgb(255,215,0);
background: linear-gradient(90deg, rgba(255,215,0,1) 0%, rgba(255,255,255,1) 50%, rgba(255,215,0,1) 100%);
}
h1{
    color: blue;
}
h4{
    color:blueviolet
}
h3{
    color:green
}